@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply text-gray-100;
    font-family: "Inter", "Roboto", "Open Sans", sans-serif;
  }

  body {
    @apply m-0 p-0 overflow-hidden min-h-screen;
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
      linear-gradient(
        143deg,
        #2e026d 0%,
        #7b2cbf 30%,
        #ff6a00 65%,
        #ffcc00 100%
      );
    background-attachment: fixed;
    background-size: cover;
  }
}

.app {
  @apply flex h-screen w-full;
}
