@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #000000;
  overflow-x: hidden;
}

:root {
  --font-maven-pro: "Maven Pro", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

.font-sans {
  font-family: var(--font-maven-pro);
}

.font-heading {
  font-family: var(--font-poppins);
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #e3186c 0%, #38bdf8 100%);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #9c0543 0%, #0284c7 100%);
}

@theme inline {
  --animate-cell-ripple: cell-ripple var(--duration, 200ms) ease-out none 1
    var(--delay, 0ms);

  @keyframes cell-ripple {
    0% {
      opacity: 0.4;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 0.4;
    }
  }
}
